!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title JIRATION
    %link(rel="stylesheet" href="css/eol.css")

  %body
    #header
      .section
        %h1
          %a{:href=> "http://eol.org"} Encyclopedia of Life
    #central
      .section
        #page_heading
          .site_column
            %h1 Jiration
            %p Some description
        #content
          .site_column
            %table.standard
              %thead
                %tr
                  %th{ :scope => 'col' } Issue Key
                  %th{ :scope => 'col' } Issue Summary
                  %th{ :scope => 'col' } Userpain
              %tbody
                - @issues.reverse.each do |issue|
                  %tr
                    %td
                      %a{:href=> issue.issue_link}= issue.jira_key
                    %td= issue.summary || '&mdash;&mdash;'
                    %td{ :class => issue.label}
                      = "%.3f" % issue.matuserpain unless issue.matuserpain.nil?
    #footer
      Footer goes here