#page_heading
  .site_column
    %h1 Jiration
    %p This page is gonna say oy vey.
    %br
    %p
      Current total userpain for EOL bugs:
      = "%.2f" % @total_pain
    %p
      %a{:href=> ""}

#content
  .site_column
    %p oy vey!
